:root {
  --fg-color: hsl(20deg 5% 8%);
  --fg2-color: hsl(20deg 13% 66%);
  --bg-color: hsl(20deg 25% 95%);
  --bg-color-translucent: hsl(20deg 25% 95% / 50%);
  --bg2-color: hsl(20deg 10% 85%);
  --logo-color: hsl(4.65deg 66% 33%);

  --font: 'Source Serif 4', Times, 'Times New Roman', Georgia, serif;
  --system-font:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --mono-font: 'IBM Plex Mono', monospace;

  --font-size: 20px;
  --print-font-size: 16px;
  --font-weight: 400;
  --line-height: 1.7;

  --border-radius: 4px;
  --control-border-width: 2px;
  --link-border-width: 1px;
  --label-border-width: 2px;
  --focus-border-width: 3px;
  --gap: 12px;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg-color: hsl(20deg 10% 90%);
    --fg2-color: hsl(20deg 20% 60%);
    --bg-color: hsl(20deg 10% 10%);
    --bg-color-translucent: hsl(20deg 10% 10% / 50%);
    --bg2-color: hsl(20deg 20% 20%);
  }
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--bg-color);
  background: var(--fg-color);
}

h1 {
  font-size: 250%;
  font-weight: 700;
}

pre,
tt,
code {
  font-family: var(--mono-font);
  font-weight: 400;
  font-style: normal;
}

p tt,
p code {
  font-size: 0.9em;
}

/*
code::before,
code::after {
  content: '`';
  color: var(--fg2-color);
}
*/

body {
  color: var(--fg-color);
  background: var(--bg-color);

  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);

  margin: 0;
}

html {
  scrollbar-color: var(--fg2-color) var(--bg-color);
  overscroll-behavior-y: none;
}

svg {
  fill: var(--fg-color);
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: var(--link-border-width) solid var(--fg-color);
}

a:hover {
  color: var(--fg2-color);
  border-bottom-color: var(--fg2-color);
}

a.external::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'><rect x='3' y='3' width='18' height='18' stroke='hsl(20deg 5% 8%)' stroke-width='2' fill='none' rx='2'/><path d='M9 15 L15 9' stroke='hsl(20deg 5% 8%)' stroke-width='2' stroke-linecap='round'/><path d='M9 9 H15 V15' stroke='hsl(20deg 5% 8%)' stroke-width='2' stroke-linecap='round'/></svg>");
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 0.25em;
}

@media (prefers-color-scheme: dark) {
  a.external::after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'><rect x='3' y='3' width='18' height='18' stroke='hsl(20deg 10% 90%)' stroke-width='2' fill='none' rx='2'/><path d='M9 15 L15 9' stroke='hsl(20deg 10% 90%)' stroke-width='2' stroke-linecap='round'/><path d='M9 9 H15 V15' stroke='hsl(20deg 10% 90%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

a.external:hover::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'><rect x='3' y='3' width='18' height='18' stroke='hsl(20deg 13% 66%)' stroke-width='2' fill='none' rx='2'/><path d='M9 15 L15 9' stroke='hsl(20deg 13% 66%)' stroke-width='2' stroke-linecap='round'/><path d='M9 9 H15 V15' stroke='hsl(20deg 13% 66%)' stroke-width='2' stroke-linecap='round'/></svg>");
}

@media (prefers-color-scheme: dark) {
  a.external:hover::after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'><rect x='3' y='3' width='18' height='18' stroke='hsl(20deg 20% 60%)' stroke-width='2' fill='none' rx='2'/><path d='M9 15 L15 9' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/><path d='M9 9 H15 V15' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

main p {
  margin-bottom: 1rem;
  text-align: justify;
}

input[type='text'],
input[type='search'] {
  background: var(--bg-color);
  color: var(--fg-color);
  border: var(--control-border-width) solid var(--fg2-color);
  border-radius: var(--border-radius);
  font-size: 12pt;
  padding: 4px 4px;
}

input[type='checkbox'] {
}

button,
input[type='submit'] {
  background: var(--bg-color);
  color: var(--fg-color);
  padding: 4px 6px;
  border: var(--control-border-width) solid var(--fg2-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  font-size: 12pt;
  font-family: var(--mono-font);
  font-weight: 400;
  font-style: italic;
}

button:active,
input[type='submit']:active {
  background: var(--fg-color) !important;
  color: var(--bg-color) !important;
}

button:hover,
input[type='submit']:hover {
  background: var(--fg2-color);
  cursor: pointer;
}

button::focus-visible,
input[type='submit']:focus-visible,
input[type='text']:focus-visible,
input[type='search']:focus-visible {
  border-color: var(--fg-color);
  /*outline: var(--focus-border-width) solid var(--fg2-color);*/
  background: var(--bg2-color);
}

.table {
  display: table;
  border-collapse: collapse;
}

.table a {
  color: inherit;
  text-decoration: none;
}

.table a,
.table .row {
  display: table-row;
}

.table .cell {
  display: table-cell;
  padding: 2px 4px;
}

.table .cell.header {
  font-family: var(--mono-font);
  font-weight: 500;
  background: var(--bg2-color);
}

.table.link-table .row:hover .cell {
  background: var(--bg2-color);
}

.table.link-table .row:hover .cell.header {
  background: var(--fg2-color);
}

.ibm-plex-mono-regular {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-regular-italic {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

/* <weight>: Use a value from 100 to 700
  <uniquifier>: Use a unique and descriptive class name */

.ibm-plex-sans-abc123 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

main {
  max-width: 768px;
  padding: 0 var(--gap) var(--gap) var(--gap);
}

.block {
}

section > h2 {
  font-size: var(--font-size);
  font-family: var(--mono-font);
  font-weight: 400;
  font-style: italic;
  border-bottom: var(--label-border-width) solid var(--fg-color);
}

section > h2 + p {
  margin-top: 16px;
}

/* Default: Extra-small devices such as small phones (less than 640px) */

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  main {
    margin: 15vh auto 0 auto;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .label {
  }

  main {
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
}

@media print {
  body {
    font-size: var(--print-font-size);
    color: #000;
  }

  header {
    display: none !important;
  }
}
